.main-body {
  /* background-color: rgba(0, 0, 0, 0.849); */
  background: url(./images/woodGrainBackground.jpg);
  height: 1100px;
  overflow: hidden;
}

.center-text {
  text-align: center;
}

.lineThroughText {
  text-decoration: line-through;
}

.top-div-height {
  height: 100px;
}

.todo-list {
  opacity: 89%;
  background-color: whitesmoke;
  border-radius: 25px;
  height: 600px;
  overflow: auto;
  margin: 0px;
}

.table-striped {
  height: 600px;
}

.bottom-buttons {
  opacity: 87%;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 110px;
}

.navbar-opacity {
  opacity: 87%;
}

.centerDeleteButton {
  padding-bottom: 20px;
}

.panel-header {
  background-color: black;
  color: whitesmoke;
  font-family: Roboto, sans-serif;
}

.panel-header-text {
  padding-top: 10px;
}

.todo-item{
  display: flex;
  /* width: 90%; */
  word-wrap: break-word;
  /* justify-content: flex-start; */
  align-items: center;
  /* padding: 30px 20px 0; */
  /* width: 70%; */
  /* border-bottom: 1px solid #cecece; */
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: 333333;
}

input[type=checkbox]{
  margin-right: 10px;
  font-size: 30px;
  /* margin-bottom: 15px; */
}

input[type=checkbox]:focus {
  outline: 0;
}

thead th{
  top: 0;
  position: sticky;
}

th, td {
  display: inline-block;
  border-top: 0px !important;
}

.first-table-column {
    width: 15%;
}

.second-table-column {
    width: 70%;
}


.third-table-column {
    width: 15%;
}

.table-striped {
  margin-bottom: 0px !important;
}

table {
  text-align: center;
  position: relative;
}

tfoot,
tfoot th,
tfoot td {
  opacity: 98%;
  width: 20%;
  background-color: black;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  /* background: #666; */
  /* color: #fff; */
  z-index:4;
}

p {
  margin-bottom: 0px !important;
}

.remove-top-bottom-padding {
  padding-top: 0px !important; 
  padding-bottom: 0px !important;
}

.center-loading {
  padding-top: 25%
}

form {
  font-family: Roboto, sans-serif;
}



.letter {
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  margin: 26px auto 0;
  max-width: 550px;
  min-height: 3000px;
  padding: 24px;
  position: relative;
  width: 80%;
}
.letter:before, .letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}